/*CSS file for index page*/

/***** Used selectors ****
Class selector
ID selector
Element Selector
Attribute Selector
Pseudo-class Selector
Selector combinator

*************************/

@font-face{
    font-family: "custom local";
    /* source downloaded from https://fonts.google.com/specimen/Bebas+Neue?sidebar.open=true&selection.family=Bebas+Neue */
    src:url("fonts/BebasNeue-Regular.ttf");
}

@media screen and (max-height:200px){
    img{
        display:none;
    }
    figure{
        display: none;
    }
    video{
        display:none;
    }
}

@media screen and (max-height:10px){
    *{
        display:none;
    }
}

@media screen and (max-width:800px){
    body{
        background-color: rgb(92, 182, 182);
    }
}

div.languages{
    background-color: aqua;
}


tr + th{
    border-style: solid;
    border-color: rgb(0, 90, 143);
}

#imp_notes{
    position:static;
    color:red;
    text-decoration: underline;
    border-style:dashed;
    border-color:#F00;
    border-radius:0.1cm;
}
h1{
    color:#2F4F4F;
    text-align:center;
    text-decoration: overline;
    font-family: "custom local";

}

h2{
    color:#556B2F;
    text-align:center;
    text-decoration: underline;
    font-family: "custom local";

}

h3{
    color:#008080;
}

main{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%
}

#lang_info{
    margin: 10px 10px auto auto
}

#goals_table{
    border-style: dashed;
    border-color: hsl(248,50%,50%);
    border-radius: 0.1ch;
    border-width: 0.05in;
    padding: 5% 7% 7% 5%
}

#profile_pic{
    max-width: 30%;
    max-height: auto;
    position: relative;
    left: 30px;
}

.quotes{
    display:block;
    font-size: medium;
    color: hsla(284, 55%, 45%, 1)
}

.quotes_intro{
    display:block;
    font-size: medium;
    color: rgb(0, 90, 143);
}

.nav_bar{
    border-color:limegreen;
    border-style: solid;
    text-align: center;
    position:sticky;
    top: 0;
    bottom: 0;    
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

#tok{
    color:black;
}

.nav_bar li{
    display:inline-block;
    text-align: center;
}

div ~ p{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

h3 + section{
    font-size: large;
    color:red;
}

p{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

iframe{
    display: block;
    width: 50em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
}

#ninja{
    margin:auto;
    display: block;
}

#fav_music{
    margin:auto;
    display:block;

}

[type="video/mp4"]{
    position:relative;
    left: 30%;
}

.flex-box-example{
    display:flex;
    padding: 10px 1em 10px 1em;
    border-color: green;
    border-style: solid;
    border-radius: 10%;
    border-width: 3px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
}

.flex-box-example div:hover{
    background-color: rebeccapurple;
}

.flex-box-example div{
    background-color: greenyellow;
    border-color: aqua;
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    padding:5% 1em 5% 1em;
}

.main-header{
    grid-area: main-header;
    text-align: center;
}

.grid-header1{
    grid-area: grid-header1;
}
.grid-header2{
    grid-area: grid-header2;
}
.grid-header3{
    grid-area: grid-header3;
}

.grid-price1{
    grid-area:grid-price1;
}
.grid-price2{
    grid-area:grid-price2;
}
.grid-price3{
    grid-area:grid-price3;
}

.grid-card1{
    grid-area:grid-card1;
}
.grid-card2{
    grid-area:grid-card2;
}
.grid-card3{
    grid-area:grid-card3;
}

.grid-side1{
    grid-area: grid-side1;
}
.grid-side2{
    grid-area: grid-side3;
}
.grid-side2{
    grid-area: grid-side3;
}
.grid-footer{
    grid-area:grid-footer;
    grid-column-start: 1;
    grid-column-end: auto;
    color: #F0F;
    text-align: center;
}
.grid-box{
    display:grid;
    border-style: solid;
    border-color:rgba(255,0,0,1);
    grid-template-rows: 5;
    grid-template-columns: 3;
    grid-template-areas:  
        "main-header main-header main-header" 
        "grid-header1 grid-header2 grid-header3"
        "grid-side1 grid-card1 grid-price1"
        "grid-side2 grid-card2 grid-price2"
        "grid-side3 grid-card3 grid-price3"
    }

video[width="400"]{
    padding: 3px 3px 3px 3px;
    border-color: red;
    border-style: solid;
}

video[width="400"]:active{
    border-width: 20px;
    border-color: green;
}